.tableData--utilities {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.tableData--buttons {
  display: flex;
  justify-content: space-around;
  width: 200px;
  margin: 20px auto;
}
.MuiTableBody-root .MuiTableRow-root {
  cursor: pointer;
}
.MuiTableBody-root .MuiTableRow-root:hover {
  background-color: rgb(226, 226, 247);
}
.MuiCard-root {
  width: 400px !important;
  margin: 20px auto;
}
